{% extends "layout.html" %}
{% block content %}

  <div class="col-md-8">
    <h1>Hi! I'm Eric.</h1>
    <p>
      <small>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
            <path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" fill="currentColor" fill-rule="evenodd"></path>
        </svg>
        Chicago, IL
      </small>
    </p>            
  </div>
  <div class="col-md-4">
    <img src="{{url_for('static', filename='headshot.png')}}" class="headshot"/>
  </div>
  <div class="content">

    <p>I'm a developer and data scientist interested in the application of technology for social good, specifically in public health, housing, and urban development.</p>
    <p>I'm studying computer science and public policy at the University of Chicago. Most recently, I was a data science fellow at the NIH.</p>
    <p>Besides coding, I'm passionate about Olympic weightlifting (here's an unflattering <a href="https://photos.app.goo.gl/gnzyMKA4jF8F4e9p6" target="_blank">picture</a>), 
      backpacking + bikepacking, volunteering in museums, watching movies, and trying to convince myself to run more often.</p>


  </div>
{% endblock content %} 