{% extends "layout.html" %}
{% block content %}
    <div class="col-md-8">
        <h1>Some things I've worked on:</h1>
        <p>

        </p>            
    </div>
    <div class="col-md-4"></div>

    <h4>data sciency work:</h4>
    <ul>
        <li>Created and integrated database models into a web app to display the NIH's energy consumption data in an internal 
            server. The <code>C+</code> web app shows an input form for engineers to enter and search utility records, and visualizations 
            using <code>R</code>, <code>Qlik</code>, and <code> MS Report Builder</code> summarise energy usage and cost avoidance. For NIH as a 
            <a href="https://datascience.nih.gov/meet-2020-coding-it-forward-civic-digital-fellows" target="_blank">Civic Digital Fellow</a> in summer 2020.
            <a href="https://github.com/codingitforward/cdfdemoday2020/blob/master/Eric_Son.pdf", target="_blank" class="projlink github">GitHub</a>
        </li>
        <li>Identified Chicago neighborhoods where affordable housing is most likely to be an issue. Using open local government datasets and 
            machine learning models,  predicted areas with highest increases in price-to-income ratios in several years. Final project for CAPP 30254: 
            Machine Learning for Public Policy.
            <a href="https://github.com/ymericson/ml-project" target="_blank" class="projlink github">GitHub</a>
        </li>
        <li><code>Django</code> web app that outputs an energy source table and visual representations of state energy consumption trends. 
            The state-level data from US EIA was imported via web scraping and API. Final project for CAPP 30122: Computer Science with Applications 2.
            <a href="https://us-energy-consumption.herokuapp.com" target="_blank" class="projlink website">Link</a>
            <a href="https://github.com/ymericson/us-energy-consumption", target="_blank" class="projlink github">GitHub</a>
        </li>
    </ul>
    <h4>other work:</h4>
    <ul>
        <li>Big data AWS web app that displays Chicago's street traffic, crash history, and traffic violation history. Languages/platforms used: <code>Hadoop DFS</code>, <code>HBase</code>, 
            <code>HiveQL</code>, <code>Kafka</code>, <code>Spark</code>, <code>Scala</code>. Final project for MPCS 53014: Big Data Application Architecture.
            <a href="https://github.com/ymericson/big-data-streets" target="_blank" class="projlink github">GitHub</a>
        </li>
        <li><code>R Shiny</code> web app that displays City of Chicago employee salary and overtime pay for 2020. It shows a treemap of salary allocation and a table that can be filtered by department and pay.
            <a href="https://chicago-salary.herokuapp.com" target="_blank" class="projlink website">Link</a>
            <a href="https://github.com/ymericson/salary-chicago", target="_blank" class="projlink github">GitHub</a>
        </li>
        <li>This personal website to experiment with lightweight web frameworks. After being involved in several web app projects,
            I wanted to create a simple site from (somewhat) bottom up using <code>Flask</code>.
            <a href="https://github.com/ymericson/personal-website" target="_blank" class="projlink github">GitHub</a>
        </li>
        <li>Predictive models to calculate the probability of hall of fame induction for all active and recently-retired players.
            <a href="https://github.com/ymericson/nba-player-info" target="_blank" class="projlink github">GitHub</a>
        </li>
        <li>Web-browser automation tool for EAB that logs in, counts, and duplicates orders for student test name purchasing. It was my first introduction to programming and, 
            despite its simplicity, one of my proudest projects. Built primarily using <code>selenium</code> and <code>openpyxl</code>.
        </li>
    </ul>


    <div class="content">
        <div class="projects grid">


        {% for project in projects %}
            <div class="grid-item">
                <a href="{{ project.relative_url }}">
            </div>
        {% endfor %}

        </div>
    </div> 

{% endblock content %} 




