{% extends "layout.html" %}
{% block content %}
    <div class="col-md-8">
        <h1>Here are some things I've worked on:</h1>    
    </div>
    <div class="col-md-4"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Emissions Dashboard</h2>
                <p>Django web app of U.S. state energy consumption trends</p>
                <p><a class="btn btn-outline-light btn-sm" href="proj1" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../static/images/stock.webp" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Project Number Two</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-outline-light btn-sm">View details »</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <h2>Project 3</h2>
                <p>Super super super super long, bloated, excessive description about the awesome project </p>
                <p><a class="btn btn-outline-light btn-sm" href="#" role="button">View details »</a></p>
            </div>
        </div>
    </div>

    </div>

    <div class="content">
        <div class="projects grid">


        {% for project in projects %}
            <div class="grid-item">
                <a href="{{ project.relative_url }}">
            </div>
        {% endfor %}

        </div>
    </div> 

{% endblock content %} 




