{% extends "layout.html" %}
{% block content %}
    <div class="col-md-8">
        <h1>Some things I've worked on</h1>
        <p>

        </p>            
    </div>
    <div class="col-md-4"></div>

    <h4>Some works</h4>
    <ul>
        <li>Created and integrated database models into a web app to display the Central Utility Plant's energy consumption data in an internal 
            server. The schema migration allows for centralized database design with secure multi-user access and data validation. The web app shows
            an input form for NIH engineers to enter and search utility records, and a visualization dashboard that summarize energy usage and cost avoidance.</li>
        <li>Tea</li>
        <li>Milk</li>
    </ul>
    <h4>Some works</h4>
    <ul>
        <li>created and integrated database models into a web app to display 
            the Central Utility Plant's energy consumption data in an internal 
            server. The schema .</li>
        <li>Tea</li>
        <li>Milk</li>
    </ul>





           
    </div>

    </div>

    <div class="content">
        <div class="projects grid">


        {% for project in projects %}
            <div class="grid-item">
                <a href="{{ project.relative_url }}">
            </div>
        {% endfor %}

        </div>
    </div> 

{% endblock content %} 




